<div class="background-animation"></div>

    <div class="login-container">
        <div class="login-box">
            <h2>Forgot Password?</h2>
            <p class="instruction-text">Enter your email to receive a password reset link.</p>
            <form>
                <div class="input-box">
                    <input type="email" required>
                    <label>Email</label>
                </div>
                <button type="submit" class="submit-btn">Send Reset Link</button>
                <div class="forgot-password">
                    <a routerLink="">Back to Login</a>
                </div>
            </form>
        </div>
    </div>